/* Style the video: 100% width and height to cover the entire window */
#a1.anchor {
    display: block;
    position: relative;
    top: 0em;
    visibility: hidden;
}
#a2.anchor {
    display: block;
    position: relative;
    top: -10em;
    visibility: hidden;
}
#a3.anchor {
    display: block;
    position: relative;
    top: -10em;
    visibility: hidden;
}
#a4.anchor {
    display: block;
    position: relative;
    top: -1em;
    visibility: hidden;
}

.ltsm{
    #a1.anchor {
        display: block;
        position: relative;
        top: 0em;
        visibility: hidden;
    }
    #a2.anchor {
        display: block;
        position: relative;
        top: -6em;
        visibility: hidden;
    }
    #a3.anchor {
        display: block;
        position: relative;
        top: -10em;
        visibility: hidden;
    }
    #a4.anchor {
        display: block;
        position: relative;
        top: -1em;
        visibility: hidden;
    }
}



.page-container{
    padding-top:0em;
}

.page-container.ltsm{
    padding-top:0em;    
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}
  
/* Add some content at the bottom of the video/page */
.content {
    /* position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    width: 98%;
    padding: 1%; */
    
}
.sec1{
    background-image: url("../../../../assets/img/lanin/bg-lanin.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: #f1f1f1;
}

.gtsm .sec1 .box{   
    margin-left: calc(5em + var(--margin-left-gtsm));
    margin-right: var(--margin-right-gtsm);
}

.sec1 .box h1{
    font-size: 400%;
    margin-bottom: 0.5em;
    font-weight: 700; 
    line-height: 1.2;
}
.sec1 .box p{
    font-size: 127%;
    line-height: 1.5;     
}

.ltsm{
    .sec1{
        .box{
            text-align: center;
            h1{
                font-size: 300%;
            }
            p{
                font-size: 100%
            }
        }
    }    
}


/* sec2 */
.sec2{
    background-color: white;
    color:#55665B;
    #svgRoute {
    }
    
    .box{
        margin-left: var(--lanin-margin-left-gtsm);
        margin-right: var(--lanin-margin-right-gtsm);
        width:57em;
        .line-container{
            position: absolute;
            width: 42em;
        }
        .item.l1{
            img{
                max-width: 43em;
                margin-left: 24%;
            }
        } 
        .item.l2{
            img{
                max-width: 21em;
                margin-left: 16em;
            }
        }
        .item{
            
            h1{
                font-weight: 300;
                font-size: 304%;
                line-height: 1.4;
            }
        }
        .item2{
            background-color: white;
            margin-top: 26vh;
            z-index: 999;
            .sec-content{
                .left{
                    .bg-line-dot{
                        background-image: url("../../../../assets/img/lanin/line-dot.svg"); 
                        background-position: center;
                        background-repeat: no-repeat;
                        background-position-x: -19px;            
                                 
                    }
                    .line{
                        padding-top: 11px;
                        padding-left: 1em;
                    }
                    h2{
                        font-weight: 700;                        
                        font-size: 100% ;
                        margin-bottom: 0em; 
                        background-color: white;
                        display: initial;
                        padding-right: 1em;
                        max-width: 42% !important;  
                    }
                    p{
                        font-size: 100%;
                    }
                }
                .right{
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
        .item4{
            z-index: 9;
            .btn-conexion{
                
                img{
                    width: 54%;
                }
            }
            .btns{
                height: 59vh;
                margin-top: 9vh;
                min-height: 17em;
                .btn{
                    width: 34%;
                }
                img{
                    width:61%;
                }
                h2{
                    font-size: 115%;
                    font-weight: 700;
                    text-align:center;
                }
                p{
                    text-align:center;
                    font-size: 103%;
                    width: 21vh;
                }
            }
            h1{
                text-align: right;
                font-weight: 300;
                font-size: 304%;
                line-height: 1.4;
            }
            .c-title{
                font-weight: 300;
                font-size: 304%;
                text-align: left;
                line-height: 1.4;
                top: -1.8em;
            }
            p{
                text-align: right;
            }
            img{
                max-width: 23em;
                margin-right: 1em;
                left: -3em;
            }
            .a{
                background-color: white;
                margin-top: 12em;
            }
        }
    }
}

.ltsm .sec2{
    margin-left: var(--lanin-margin-left-ltsm);
    margin-right: var(--lanin-margin-right-ltsm);
    
    .item.l1{
        img{
            max-width: 18em;
            margin-left: -1%;
        }
    } 
    .item.l2{
        img{
            max-width: 21em;
            margin-left: 16em;
        }
    }
    .box{
        margin-left: var(--margin-left-ltsm);
        margin-right: var(--margin-right-ltsm);
        width:auto;
        .item{
            width: auto;
            h1{
                font-weight: 300;
                font-size: 225%;
                line-height: 1.4;
                text-align: center;
                margin: 0.6em 0 1.0em 0;
            }
        }
        .item.item2{
            margin-top: 6vh;
            img{
                width: 80%;
                margin: 1em 0 2em 0;
            }
            img.l2{
                width: 100%;
                display: none;
                margin: 0 0 0 0;
            }
            h2{
                font-weight: 700;                        
                font-size: 78% ;
                margin-bottom: 0em; 
                background-color: white;
                display: initial;
                padding-right: 1em;
                max-width: 42% !important;  
            }
            p{
                font-size: 85%;
            }
        }
        .item4{
            .btn-conexion{
                img{
                    width: 46%;
                }
            }
            .btns{
                height: 25vh;
                margin-top: 5vh;
                min-height: 17em;
                img{
                    width:100%;
                }
                h2{
                    font-size: 81%;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 0.2em;
                }
                p{
                    text-align: center;
                    font-size: 69%;                    
                }
            }
            h1{
                text-align: center;
                font-weight: 300;
                font-size: 225%;
                line-height: 1.4;
                margin: 0.6em 0 1em 0;
            }
            .c-title{
                font-weight: 300;
                font-size: 225%;
                text-align: center;
                line-height: 1.4;
            }
            p{
                text-align: center;
                font-size: 141%;
                line-height: 1.6;
                font-weight: 300;
                width: 100%;
            }
            img{
                margin-right: 1em;
                left: -3em;
            }
            .a{
                background-color: white;
                margin-top: 6em;
            }
        }
    }
} 


/* sec4 */
.sec4{
    color:#55665B;
    padding-top: 9em;
    background-image: url("../../../../assets/img/bg-proy-lanin.png"); /* The image used */
    background-color: #F7F7F7; /* Used if the image is unavailable */
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto; /* Resize the background image to cover the entire container */
    padding-bottom: 7em;
    .box{
        padding-left: 0;
        margin-left: var(--margin-left-gtsm);
        padding-top: 0em;
        padding-right: 0em;
        margin-right: var(--margin-right-gtsm);
        h1{
            font-size: 400%;
            margin-bottom: 1em;
            font-weight: 100;
        }
        .flatTable{  
            text-align: center;
            width:50%;
            min-width:500px;
            border-collapse:collapse;  
            background-color:white;
            box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
            tr{
                height: em;
            }
            tr.grey{
                background-color:#E4E4E4;
            }
            .header{
                color:white;
                font-weight: 700;
                font-size: 125%;
                td{
                    padding: 1.2em;
                }
                .simple{
                    background-color:#7FAEDB;
                }
                .anual{
                    background-color:#51675A;
                }                
            }
            tr.price{
                font-size: 180%;
                font-weight: 400;
                padding: 1em;
                .simple{
                    color: #7FAEDB;
                }
                .anual{
                    color:#51675A;
                }
            }
            tr.btns{
                td{
                    padding: 1em;
                }
            }
            .simple .mat-flat-button{
                background-color:#7FAEDB;
                color:white;
            }
            .anual .mat-flat-button{
                background-color:#51675A;
                color:white;
            }
            td.desc{
                padding: 1.2em;                
                border-left: none;
            }
            td{
                border-left: 1px solid;
                border-right: 1px solid;
                width: 50em;
                font-size: 95%;
                img{
                    width: 23px;
                }
            }
        }
    }
}

.ltsm{
    .sec4{
        color:#55665B;
        padding-top: 9em;
        background-image: url("../../../../assets/img/bg-proy-lanin.png"); /* The image used */
        background-color: #F7F7F7; /* Used if the image is unavailable */
        background-position: bottom; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: auto; /* Resize the background image to cover the entire container */
        padding-bottom: 7em;
        .box{
            padding-left: 0;
            margin-left: var(--margin-left-gtsm);
            padding-top: 0em;
            padding-right: 0em;
            margin-right: var(--margin-right-gtsm);
            h1{
                font-size: 400%;
                margin-bottom: 1em;
                font-weight: 100;
            }
            .flatTable{  
                text-align: center;
                width:50%;
                min-width:340px;
                border-collapse:collapse;  
                background-color:white;
                box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
                tr{
                    height: em;
                }
                tr.grey{
                    background-color:#E4E4E4;
                }
                .header{
                    color:white;
                    font-weight: 700;
                    font-size: 125%;
                    td{
                        padding: 1.2em;
                    }
                    .simple{
                        background-color:#7FAEDB;
                    }
                    .anual{
                        background-color:#51675A;
                    }                
                }
                tr.price{
                    font-size: 180%;
                    font-weight: 400;
                    padding: 1em;
                    .simple{
                        color: #7FAEDB;
                    }
                    .anual{
                        color:#51675A;
                    }
                }
                tr.btns{
                    td{
                        padding: 1em;
                    }
                }
                .simple .mat-flat-button{
                    background-color:#7FAEDB;
                    color:white;
                    font-size: 100%;
                }
                .anual .mat-flat-button{
                    background-color:#51675A;
                    color:white;
                    font-size: 100%;
                }
                td.desc{
                    padding: 1.2em;                
                    border-left: none;
                }
                td{
                    border-left: 1px solid;
                    border-right: 1px solid;
                    width: 10em;
                    font-size: 62%;
                    img{
                        width: 23px;
                    }
                }
            }
        }
    }
}


/* sec5 */
.sec5{
    color:#55665B;
    background-color: white; 
    padding-bottom: 12em;
    
    .box{
        padding-top: 10em;
        margin-right: var(--margin-right-gtsm);
        margin-left: var(--margin-left-gtsm);
        h1{
            font-size: 400%;
            margin-bottom: 2em;
            font-weight: 100;
        }
        
    }
}

.ltsm{
    .sec5{
        color:#55665B;
        background-color: white; 
        padding-bottom: 12em;
        
        .box{
            padding-top: 5em;
            margin-right: var(--margin-right-gtsm);
            margin-left: var(--margin-left-gtsm);
            .mat-expansion-panel-header{
                height: 6em;
            }
            h1{
                font-size: 400%;
                margin-bottom: 1em;
                font-weight: 100;
                line-height: 1.4;
            }
        }
    }
}

.mat-expansion-panel{
    width: 100%;
}
.mat-expanded .mat-expansion-panel-header-title{
    color:#7FAEDB;
    font-weight: 700;
} 

.mat-expansion-panel-header-title{
    color:#3B3B3B;
    font-weight: 700;
} 

.mat-sidenav{
    background-color:#312F2F;
    color: white;
    max-width: 100%;
    padding: 2em;
    position: fixed;
}

.side-content{
    height: 100%;
    width: 100%;
    .header{
        padding-bottom: 6vh;
        .logo{
            height: 2.5em;
        }
    }
    .menu .mat-button{
        margin-bottom: 1em;
    }
    app-lang-select{
        margin-left: 1em;
    }
    .redes{
        margin-bottom: 1em;
        margin-top: 2em;
        height: auto;
    }
    .footer{
        font-size: 82%;
    }
}

/* side */
.example-container {
    width: 100%;
    height: auto;
}

.white-icon {
    color: white;
}

.toolbar{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0em; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 99999;
}

.toolbar.fondo{
    background-color: #C1D4EE;
}

.toolbar .menu{
    margin-left: 4em;
}

.spetial-toolbar{
    color: white;
    padding-left: var(--margin-left-gtsm);
    padding-right: var(--margin-right-gtsm);
    //background-color: var(--primary-color);
    padding-top: 1em;
    padding-bottom: 1em;
}


.ltsm{
    .spetial-toolbar{
        color: white;
        padding-left: var(--margin-left-ltsm);
        padding-right: var(--margin-right-ltsm);
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .toolbar.fondo{
        background-color: #C1D4EE;
    }
} 

.spetial-toolbar h1{
    margin:0;
}

.logo{
    height: 3em;
}

.ltsm{
    footer{
        padding-top: 3em;
        padding-bottom: 3em;
    }
}
footer{
    color: #0D0101;
    background-color:#C1D4EE;
    padding-left: var(--margin-left-gtsm);
    padding-right: var(--margin-right-gtsm);    
    padding-top: 10em;
    padding-bottom: 5em;
    font-size: 90%;
    .ico{
        position: absolute;
        font-size: 17px;
        margin-top: 3px;
    }
    .icotext{
        padding-left:1.8em;
    }
    a{
        color: #0D0101;
        text-decoration: none;
    }
    a:hover{
        color: #0D0101;
        text-decoration: underline;
    }
    a:visited{
        color: #0D0101;
    }
    
    hr {
        height:1px;
        border-width:0;
        background-color:var(--primary-lighter-color);
    }
    .footer{
        padding-top: 1em;
    }
    .footer-info{
        padding-bottom: 1em;
        
    }
    .footer-info .line{
        padding-bottom: 1em;
    }
}

.side-content{
    .redes{
        .item.fb{
            background-image: url("../../../../assets/img/fb.png"); 
        }
        .item.ig{
            background-image: url("../../../../assets/img/ig.png"); 
        }
        .item.tw{
            background-image: url("../../../../assets/img/tw.png"); 
        }
    }
}

.redes{
    height: 100%;
    .item{
        border: 0px solid;
        background-color: width; 
        height: 28px;
        width: 28px;
        border-radius: 5px;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
    }
    .item.fb{
        background-image: url("../../../../assets/img/fb_b.png"); 
    }
    .item.ig{
        background-image: url("../../../../assets/img/ig_b.png"); 
    }
    .item.tw{
        background-image: url("../../../../assets/img/tw_b.png"); 
    }
}
