/* Style the video: 100% width and height to cover the entire window */

.page-container{
    padding-top:0em;
}

.page-container.ltsm{
    padding-top:0em;    
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}
  
/* Add some content at the bottom of the video/page */
.content {
    /* position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    width: 98%;
    padding: 1%; */
    
}
.sec1{
    background-image: url("../../../../assets/img/lanin/bg-lanin.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: #f1f1f1;
}

.sec1 a.anchor {
    display: block;
    position: relative;
    top: -20em;
    visibility: hidden;
}

.gtsm .sec1 .box{   
    margin-left: calc(5em + var(--margin-left-gtsm));
    margin-right: var(--margin-right-gtsm);
}

.sec1 .box h1{
    font-size: 400%;
    margin-bottom: 0.5em;
    font-weight: 700; 
    line-height: 1.2;
}
.sec1 .box p{
    font-size: 127%;
    line-height: 1.5;     
}

.ltsm{
    .sec1{
        background-position-x: -59em;
        .box{
            text-align: center;
            h1{
                font-size: 300%;
            }
            p{
                font-size: 100%
            }
        }
    }    
}


/* sec2 */
.sec2{
    background-color: white;
    color:#55665B;
    a.anchor {
        display: block;
        position: relative;
        top: 3em;
        visibility: hidden;
    }
    .box{
        margin-left: var(--lanin-margin-left-gtsm);
        margin-right: var(--lanin-margin-right-gtsm);
        .item.l1{
            img{
                max-width: 43em;
                margin-right: 3em;
            }
        } 
        .item.l2{
            img{
                max-width: 21em;
                margin-right: 16em;
            }
        }
        .item{
            h1{
                font-weight: 300;
                font-size: 304%;
                line-height: 1.4;
            }
        }
        .item2{
            .sec-content{
                .left{
                    .bg-line-dot{
                        background-image: url("../../../../assets/img/lanin/line-dot.svg"); 
                        background-position: center;
                        background-repeat: no-repeat;
                        background-position-x: -19px;                       
                    }
                    .line{
                        padding-top: 11px;
                        padding-left: 1em;
                    }
                    h2{
                        font-weight: 700;
                        font-size: 100%;
                        margin-bottom: 0em; 
                        background-color: white;
                        display: initial;
                        padding-right: 1em;
                    }
                    p{
                        font-size: 81%;
                    }
                }
                .right{
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
        .item4{
            .btn-conexion{
                position: absolute;
                padding-left: 19em;
                img{
                    width:59%;
                }
            }
            .btns{
                height: 71vh;
                margin-top: 9vh;
                .btn{
                    width: 34%;
                }
                img{
                    width:80%;
                }
                h2{
                    font-size: 115%;
                    font-weight: 700;
                    text-align:center;
                }
                p{
                    text-align:center;
                    font-size: 103%;
                    width: 21vh;
                }
            }
            h1{
                text-align: right;
                font-weight: 300;
                font-size: 304%;
                line-height: 1.4;
            }
            .c-title{
                font-weight: 300;
                font-size: 304%;
                text-align: left;
                line-height: 1.4;
                position: relative;
                top: -1.8em;
                left: -3em;
            }
            p{
                text-align: right;
            }
            img{
                max-width: 45em;
                margin-right: 1em;
                left: -3em;
            }
        }
    }
}

.ltsm .sec2{
    .box{
        margin-left: var(--margin-left-ltsm);
        margin-right: var(--margin-right-ltsm);
        .item{
            h1{
                font-weight: 300;
                font-size: 250%;
                line-height: 1.4;
                text-align: center;
            }
        }
    }
} 


/* sec4 */
.sec4{
    color:#55665B;
    padding-top: 9em;
    background-image: url("../../../../assets/img/bg-proy-lanin.png"); /* The image used */
    background-color: #F7F7F7; /* Used if the image is unavailable */
    height: 700px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    a.anchor {
        display: block;
        position: relative;
        top: -10em;
        visibility: hidden;
    }
    .box{
        padding-left: 0;
        margin-left: var(--margin-left-gtsm);
        padding-top: 0em;
        padding-right: 0em;
        margin-right: var(--margin-right-gtsm);
        h1{
            font-size: 400%;
            margin-bottom: 1em;
            font-weight: 100;
        }
        .flatTable{  
            text-align: center;
            width:70%;
            min-width:500px;
            border-collapse:collapse;  
            background-color:white;
            box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
            tr{
                height: 4em;
            }
            tr.grey{
                background-color:#E4E4E4;
            }
            .header{
                color:white;
                font-weight: 700;
                font-size:120%;
                .simple{
                    background-color:#7FAEDB;
                }
                .anual{
                    background-color:#51675A;
                }                
            }
            tr.price{
                font-size: 150%;
                font-weight: 700;
                .simple{
                    color: #7FAEDB;
                }
                .anual{
                    color:#51675A;
                }
            }
            .simple .mat-flat-button{
                background-color:#7FAEDB;
                color:white;
            }
            .anual .mat-flat-button{
                background-color:#51675A;
                color:white;
            }
        }
    }
}


/* sec5 */
.sec5{
    color:#55665B;
    background-color: white; 
    padding-bottom: 12em;
    a.anchor {
        display: block;
        position: relative;
        top: 3em;
        visibility: hidden;
    }
    .box{
        padding-top: 10em;
        margin-right: var(--margin-right-gtsm);
        margin-left: var(--margin-left-gtsm);
        h1{
            font-size: 400%;
            margin-bottom: 2em;
            font-weight: 100;
        }
    }
}

.mat-expanded .mat-expansion-panel-header-title{
    color:#7FAEDB;
    font-weight: 700;
} 

.mat-expansion-panel-header-title{
    color:#3B3B3B;
    font-weight: 700;
} 

/* side */
.example-container {
    width: 100%;
    height: auto;
}

.white-icon {
    color: white;
}

.toolbar{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0em; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 99999;
}

.toolbar.fondo{
    background-color: #C1D4EE;
}

.toolbar .menu{
    margin-left: 4em;
}

.spetial-toolbar{
    color: white;
    padding-left: var(--margin-left-gtsm);
    padding-right: var(--margin-right-gtsm);
    //background-color: var(--primary-color);
    padding-top: 1em;
    padding-bottom: 1em;
}


.ltsm{
    .spetial-toolbar{
        color: white;
        padding-left: var(--margin-left-ltsm);
        padding-right: var(--margin-right-ltsm);
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .toolbar.fondo{
        background-color: #C1D4EE;
    }
} 

.spetial-toolbar h1{
    margin:0;
}

.logo{
    height: 3em;
}

footer{
    color: #0D0101;
    background-color:#C1D4EE;
    padding-left: var(--margin-left-gtsm);
    padding-right: var(--margin-right-gtsm);    
    padding-top: 10em;
    padding-bottom: 5em;
    .ico{
        position: absolute;
        font-size: 17px;
        margin-top: 3px;
    }
    .icotext{
        padding-left:1.8em;
    }
    a{
        color: #0D0101;
        text-decoration: none;
    }
    a:hover{
        color: #0D0101;
        text-decoration: underline;
    }
    a:visited{
        color: #0D0101;
    }
    .redes{
        height: 100%;
        .item{
            border: 0px solid;
            background-color: width; 
            height: 28px;
            width: 28px;
            border-radius: 5px;
            background-position: center; 
            background-repeat: no-repeat; 
            background-size: cover; 
        }
        .item.fb{
            background-image: url("../../../../assets/img/fb_b.png"); 
        }
        .item.ig{
            background-image: url("../../../../assets/img/ig_b.png"); 
        }
        .item.tw{
            background-image: url("../../../../assets/img/tw_b.png"); 
        }
    }
    hr {
        height:1px;
        border-width:0;
        background-color:var(--primary-lighter-color);
    }
    .footer{
        padding-top: 1em;
    }
    .footer-info{
        padding-bottom: 1em;
        
    }
    .footer-info .line{
        padding-bottom: 1em;
    }
}
