<!-- The video -->
<video muted autoplay loop id="myVideo">  
  <source src="assets/videos/pepa.mp4" type="video/mp4" >
</video>


<div class="content">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <h1>{{ 'HOME.TITLE' | translate }}</h1>
    </div>
    <div dir="rtl" fxLayoutGap="0px">
      <label>
        {{ 'HOME.SELECT' | translate }}
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
      </label>
    </div>
  </div>  
</div> 