<div class="home" style="height: 100vh;">
  <!-- toolbar -->
  <div class="content">
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <a href="#" mat-button>Menu Item 1</a>
        <a href="#" mat-button>Menu Item 2</a>
        <a href="#" mat-button>Menu Item 3</a>
        <a href="#" mat-button>Menu Item 4</a>
        <a href="#" mat-button>Menu Item 5</a>
        <a href="#" mat-button>Menu Item 6</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="page-container" 
      ngClass.lt-sm = "ltsm"  
      ngClass.gt-sm = "gtsm">
        <video muted autoplay loop id="myVideo">  
          <source src="assets/videos/video.mp4" type="video/mp4" >
        </video>
        <!-- Toolbar gt-sm-->
        <div class="toolbar">
          <div fxShow="true" fxHide.lt-sm="true" class="spetial-toolbar">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <!-- logo -->
                <img class="logo" src="./assets/img/logo.png" alt="">
                <!-- Menu grande -->
                <div 
                fxLayout="row" 
                fxLayoutAlign="start  center" 
                fxFlex="0.9 0 calc(4em)"
                class="menu">
                  <div class="mnu-item"><a mat-button href="#asec1">{{ 'home.nav.quienes-somos' | translate }}</a></div>
                  <div class="mnu-item"><a mat-button href="#asec3">{{ 'home.nav.que-hacemos' | translate }}</a></div>
                  <div class="mnu-item"><a mat-button href="#asec4">{{ 'home.nav.proyectos' | translate }}</a></div>
                </div>
                <!-- lado derecho -->
                <div class="right" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1em" fxFlex="0.2 0 10em">
                  <!-- idioma -->
                  <div>
                    <app-lang-select></app-lang-select>
                    
                  </div>
                  <!-- boton -->
                  <div>
                    <a mat-flat-button color="warn" href="#asec5">{{ 'home.nav.contactarme' | translate | uppercase }}</a>
                  </div>
                </div>
            </div>  
          </div>
          <!-- Toolbar lt-sm-->
          <div fxShow="true" fxHide.gt-sm="true" class="spetial-toolbar">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <!-- hamburguesa -->
                <div fxShow="true" fxHide.gt-sm="true">
                  <mat-icon class="white-icon" (click)="sidenav.toggle()">menu</mat-icon>
                </div>            
                <!-- lado derecho -->
                <div class="lado-derecho" fxLayout="row" fxLayoutAlign="space-between" fxFlex="0 0 10em">
                  <!-- boton -->
                  <div></div>
                  <div>
                    <button mat-flat-button color="warn">{{ 'home.nav.contactarme' | translate | uppercase }}</button>
                  </div>
                </div>
            </div>  
          </div>
        </div>
        <!-- sec1 -->
        <div class="sec1">
          <a class="anchor" id="asec1"></a>
          <div    
          class="box"
          fxLayout="row" fxLayoutAlign="center">        
              <div
                  fxFlex="0.5 0 calc(8em)"
                  fxFlex.lt-sm="0.8 0 calc(8em)">
                  <h1>{{ 'home.sec1.title' | translate }}</h1>
                  <p>{{ 'home.sec1.text1' | translate }}</p> 
                  <button  fxShow="true" fxHide.gt-sm="true" mat-flat-button color="warn">{{ 'home.nav.contactarme' | translate | uppercase }}</button>
              </div>
          </div>
        </div>
        <!-- sec2 -->
        <div id="sec2" class="sec2">
          <div 
          class="box"
          fxLayout="row" fxLayoutAlign="center center">
            <div class="item"><img src="./assets/img/logo-cotesma.png" alt=""></div>
            <div class="item"><img src="./assets/img/logo-sigfox.png" alt=""></div>
            <div class="item"><img src="./assets/img/logo-parque.png" alt=""></div>
            <div class="item"><img src="./assets/img/logo-datco.png" alt=""></div>
          </div>
        </div>
        <div id="sec3" class="sec3">
          <a class="anchor" id="asec3"></a>
          <div    
          class="box">
            <h1>{{ 'home.sec3.title' | translate }}</h1>
            <p>{{ 'home.sec3.text1' | translate }}</p> 
          </div>
        </div>
        <!-- proyectos -->
        <div id="sec4" class="sec4">
          <a class="anchor" id="asec4"></a>
          <div class="box top">
            <h1 class="display-1">{{ 'home.sec4.title' | translate }}</h1>
          </div>
          <div 
          class="box"
          fxLayout="row" fxLayoutAlign="space-around stretch"  fxLayoutGap="4em">
            <div class="item">
              <img width="100%" height="100%" src="./assets/img/proyecto-lanin-foto.png" alt="">
            </div>
            <div class="item" >
              <h1 class="line-breaker">{{ 'home.sec4.p1.title' | translate }}</h1>
              <p class="line-breaker">{{ 'home.sec4.p1.text1' | translate }}</p> 
              <a href="/lanin"  mat-flat-button color="warn">{{ 'home.sec4.p1.btn' | translate | uppercase }}</a>
            </div>
          </div>
        </div>
        <!-- contacto-->
        <div id="sec5" class="sec5">
          <a class="anchor" id="asec5"></a>
          <div 
          class="box"
          fxLayout="row" fxLayoutAlign="space-around stretch">
            <div fxFlex="33%"></div>
            <div fxFlex="66%">
              <div class="top"><h1 class="display-1">{{ 'contact-form.title' | translate }}</h1></div>
              <div class="contact-form">
                <div class="contact-container" fxLayout="column" fxLayoutAlign="space-between stretch" >
                  <div>
                    <mat-form-field appearance="fill" fxFlex="100%">
                      <mat-label>{{ 'contact-form.nombre' | translate }}</mat-label>
                      <input matInput>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field appearance="fill" fxFlex="100%">
                      <mat-label>{{ 'contact-form.email' | translate }}</mat-label>
                      <input matInput>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field appearance="fill" fxFlex="100%">
                      <mat-label>{{ 'contact-form.mensaje' | translate }}</mat-label>
                      <textarea  cdkTextareaAutosize
                      cdkAutosizeMinRows="5"
                      cdkAutosizeMaxRows="15"  matInput placeholder=""></textarea>
                    </mat-form-field>
                  </div>
                  <div fxFlexAlign="end">
                    <button mat-flat-button color="warn">{{ 'contact-form.enviar' | translate | uppercase }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer>
          <div>
            <h2>Contacto</h2>
          </div>
          <div class="footer-info" fxLayout="row" fxLayoutAlign="space-between stretch"  fxLayoutGap="1em">
            <div fxFlex="33%">
              <div 
              fxLayout="column" 
              fxLayoutAlign="space-around  center" 
              fxFlex="0.9 0 calc(4em)"
              class="menu">
                <div class="line">
                  <mat-icon class="ico" aria-hidden="false" aria-label="Example home icon">call</mat-icon>
                  <div class="icotext">{{ 'footer.tel' | translate }}</div>
                </div>
                <div class="line">
                  <mat-icon class="ico" aria-hidden="false" aria-label="Example home icon">location_on</mat-icon>
                  <div class="icotext">{{ 'footer.dir' | translate }}</div>
                </div>
                <div class="line">
                  <div class="icotext">{{ 'footer.loc' | translate }}</div>
                </div>
                <div class="line">
                  <div class="icotext">{{ 'footer.cp' | translate }}</div>
                </div>
              </div>
            </div>
            <div fxFlex="33%" class="menu">
              <!-- Menu grande -->
              <div 
              fxLayout="column" 
              fxLayoutAlign="space-around  center" 
              fxFlex="0.9 0 calc(4em)"
              class="menu">
                <div class="mnu-item line"><a href="#asec1">{{ 'home.nav.quienes-somos' | translate }}</a></div>
                <div class="mnu-item line"><a href="#asec3">{{ 'home.nav.que-hacemos' | translate }}</a></div>
                <div class="mnu-item line"><a href="#asec4">{{ 'footer.pp' | translate }}</a></div>
                <div class="mnu-item line"></div> 
              </div>
            </div>
            <div fxFlex="33%">
              <div class="redes" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
                <a href="http://cotesma.coop" target="_blank"><div class="item fb"></div></a>
                <a href="http://cotesma.coop" target="_blank"><div class="item ig"></div></a>
                <a href="http://cotesma.coop" target="_blank"><div class="item tw"></div></a>
              </div>
            </div>
          </div>
          <hr>
          <div class="footer"
          fxLayout="row" fxLayoutAlign="space-between stretch"  fxLayoutGap="4em">
            <div>
              <img class="logo" src="./assets/img/logo.png" alt="">
            </div>
            <div>
              {{ 'footer.cr' | translate }}
            </div>
            <div>
              <app-lang-select></app-lang-select>
            </div>
          </div>
        </footer> 
      </div>      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

