/* Style the video: 100% width and height to cover the entire window */

.page-container{
    padding-top:2em;
}

.page-container.ltsm{
    padding-top:1em;    
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}
  
/* Add some content at the bottom of the video/page */
.content {
    /* position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    width: 98%;
    padding: 1%; */
    
}
.sec1{
    color: #f1f1f1;
    text-align: center;
    margin-top: 15em;
    margin-bottom: 15em;
    .box h1{
        font-size: 400%;
        line-height: 1.2;
        margin-bottom: 0.5em;
        font-weight: 700; 
    }
    .box p{
        font-size: 170%;
        line-height: 1.5; 
        
    }
}

.ltsm{
    .sec1{
        height: 100vh;
        margin-top: 0em;
        margin-bottom: 0em;
        .box{
            padding-top: 26vh;
            margin-bottom: -26vh;
        }
        .box h1{
            font-size: 300%;
            line-height: 1.2;
        }
        .box p{
            font-size: 146%;
            padding-bottom: 2em;
            padding-top: 1em;     
        }
        .box .mat-flat-button.mat-warn{
            font-weight:700;
        }
    }    
} 

.sec1 a.anchor {
    display: block;
    position: relative;
    top: -20em;
    visibility: hidden;
}



/* sec2 */
.sec2{
    background-color: white;
    padding-top: 3em;
    padding-bottom: 3em;
}

.ltsm {
    .sec2 .box{
        margin-left: var(--margin-left-ltsm);
        margin-right: var(--margin-right-ltsm);
    }
    .sec2 .box .item img{
        max-height: 3.4em;
        margin-left: 0.2em;
        margin-right: 0.2em;
    }
}

.sec2 .box{
    margin-left: var(--margin-left-gtsm);
    margin-right: var(--margin-right-gtsm);
}

.sec2 .box .item img{
    max-height: 10em;
    margin-left: 1em;
    margin-right: 1em;
}


/* sec3 */
.sec3{
    background-image: url("../../../../assets/img/bg-soluciones.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 700px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.sec3 a.anchor {
    display: block;
    position: relative;
    top: -5em;
    visibility: hidden;
}

.sec3 .box{
    padding-left: 42em;
    margin-left: var(--margin-left-gtsm);
    margin-right: var(--margin-right-gtsm);
    padding-top: 12em;
    padding-right: 9em;    
    text-align: right;
}

.sec3 .box h1{
    color: white;
    font-size: 350%;
    line-height: 1.1;
    margin-bottom: 0.5em;
    font-weight: 700; 
}
.sec3 .box p{
    color: white;
    font-size: 150%;
    line-height: 1.4; 
    text-justify: right;
    font-weight: 200;
}

.ltsm{
    .sec3 .box{
        margin-left: calc(1.5em + var(--margin-left-ltsm));
        margin-right: calc(1.5em + var(--margin-right-ltsm));
        padding-left: 0em;
        padding-top: 8em;
        padding-right: 0em;
        text-align: center;
    }
} 


/* sec4 */
.sec4{
    padding-top: 9em;
    background-image: url("../../../../assets/img/bg-proy-lanin.png"); /* The image used */
    background-color: white; /* Used if the image is unavailable */
    height: 800px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.sec4 a.anchor {
    display: block;
    position: relative;
    top: -10em;
    visibility: hidden;
}

.sec4 .box{
    padding-left: 0;
    margin-left: var(--margin-left-gtsm);
    padding-top: 0em;
    padding-right: 0em;
    margin-right: var(--margin-right-gtsm);
}

.sec4 .top h1{
    color: var(--primary-color);
    font-size: 400%;
    margin-bottom: 1em;
    font-weight: 100;
    text-align: left;
}

.sec4 .box .item{
    width: 50%;
}

.sec4 .item h1{
    color: var(--primary-color);
    font-size: 350%;
    line-height: 1.1;
    margin-bottom: 0.5em;
    font-weight: 700; 
}
.sec4 .item p{
    color: var(--primary-color);
    font-size: 150%;
    line-height: 1.4; 
    text-justify: right;
    font-weight: 200;
}

.ltsm{
    .sec4{
        padding-top: 6em;
        padding-top: 6em;
        height: auto;
        height: 93vh;
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-size: 102vh;
        background-position-x: center;
        .box.top h1{
            text-align: center;
        }
        .box {            
            .item{
                width: auto;
            }
        }  
        .item h1{
            font-size: 250%;
        }
        .sec4 .item p{
            font-size: 115%;
        }
        .mat-flat-button.mat-warn{
            font-weight: 700;
        }
    } 
} 

/* sec5 */
.sec5{
    padding-top: 3em;
    background-image: url("../../../../assets/img/bg-contacto.png"); /* The image used */
    background-color: white; /* Used if the image is unavailable */
    height: 800px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.sec5 a.anchor {
    display: block;
    position: relative;
    top: -3em;
    visibility: hidden;
}

.sec5 .box{
    padding-left: 0;
    margin-left: var(--margin-left-gtsm);
    padding-top: 9em;
    padding-right: 0em;
    margin-right: var(--margin-right-gtsm);
    
}

.sec5 .top h1{
    color: var(--primary-color);
    text-align: right;
    font-size: 400%;
    margin-bottom: 1em;
    font-weight: 100;
}

.ltsm {
    .sec5{
        height: 580px;
        .box{            
            padding-top: 6em;
            margin-left: var(--margin-left-ltsm);
            margin-right: var(--margin-right-ltsm);
        }
        .top h1{
            text-align: center;
            font-size: 300%;
        }
    }
}
 


/* side */
.example-container {
    width: 100%;
    height: auto;
}

.white-icon {
    color: white;
}



.toolbar{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0em; /* Position the navbar at the top of the page */
    padding-bottom: 1em;
    width: 100%;
    z-index: 99999;
}


.toolbar .menu{
    margin-left: 4em;
}

.gtsm{
    .spetial-toolbar{
        color: white;
        padding-left: var(--margin-left-gtsm);
        padding-right: var(--margin-right-gtsm);
        background-color: var(--primary-color);
        padding-top: 1em;
        padding-bottom: 1em;
    }
}


.ltsm{
    .spetial-toolbar{
        color: white;
        padding-left: var(--margin-left-ltsm);
        padding-right: var(--margin-right-ltsm);
        background-color: var(--primary-color);
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .spetial-toolbar .mat-icon{
        font-size: 281%;
    }
    
    .spetial-toolbar .mat-flat-button.mat-warn{
        font-weight: 700;
    }
}

.spetial-toolbar h1{
    margin:0;
}



.logo{
    height: 3em;
}

footer{
    color: white;
    background-color:var(--primary-color);
    padding-left: var(--margin-left-gtsm);
    padding-right: var(--margin-right-gtsm);    
    padding-top: 10em;
    padding-bottom: 5em;
}

footer .ico{
    position: absolute;
    font-size: 17px;
    margin-top: 3px;
}

footer .icotext{
    padding-left:1.8em;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: white;
    text-decoration: underline;
}

footer a:visited{
    color: white;
}

.redes{
    height: 100%;
    .item{
        border: 0px solid;
        background-color: width; 
        height: 28px;
        width: 28px;
        border-radius: 5px;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
    }
    .item.fb{
        background-image: url("../../../../assets/img/fb.png"); 
    }
    .item.ig{
        background-image: url("../../../../assets/img/ig.png"); 
    }
    .item.tw{
        background-image: url("../../../../assets/img/tw.png"); 
    }
}


footer hr {
    height:1px;
    border-width:0;
    background-color:var(--primary-lighter-color);
}

footer .footer{
    padding-top: 1em;
}

footer .footer-info{
    padding-bottom: 1em;
    
}

footer .footer-info .line{
    padding-bottom: 1em;
}

.mat-sidenav{
    background-color:var(--primary-color);
    color: white;
    max-width: 100%;
    padding: 2em;
    position: fixed;
}

.side-content{
    height: 100%;
    width: 100%;
    .header{
        padding-bottom: 6vh;
        .logo{
            height: 2.5em;
        }
    }
    .menu .mat-button{
        margin-bottom: 1em;
    }
    app-lang-select{
        margin-left: 1em;
    }
    .redes{
        margin-bottom: 1em;
        margin-top: 2em;
        height: auto;
    }
    .footer{
        font-size: 82%;
    }
}