/* You can add global styles to this file, and also import other style files */

/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');
 */
html, body { height: 100%; }
body { 
    margin: 0; font-family: 'Open Sans', sans-serif; 
    --margin-left-ltsm: 1.8em;
    --margin-right-ltsm: 1.8em;
    --margin-left-gtsm: 5em;
    --margin-right-gtsm: 5em;

    --lanin-margin-left-gtsm: 17em;
    --lanin-margin-right-gtsm: 17em;
}
.mat-flat-button.mat-warn{
    color:white;
}

.line-breaker {
    white-space: pre-wrap;
}


.lanin{
    select{
        background: transparent;
        color:white;
        border-color: white;
    } 
    
    footer select{
        background: transparent;
        color:#0D0101;
        border-color:#0D0101;
    }

    footer select option {
        background-color: white;
        color: #0D0101;
    }

    select option {
        background-color: white;
        color: #3B3B3B;
    }
    
    .mat-flat-button.mat-warn{
        color:#3B3B3B;
        background-color: white;
    }

    
}

.home {
    select{
        background: var(--primary-color);
        color: white;
        border-color:white;
    }

    select option {
        background-color: var(--primary-color);
        color: white;
    }
      
}